name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@master
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          config_timezone: America/Toronto
          base_hireable: yes
          plugin_introduction: yes
          plugin_leetcode: yes
          plugin_code: yes
          plugin_code_languages: scheme, c, java, javascript
          plugin_code_load: 400
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_starlists: yes
          plugin_starlists_limit_repositories: 2
          config_order: base.header, base.activity, base.repositories, base.metadata, introduction, isocalendar, code, leetcode, habits, starlists
